.left-menu-email-section-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100vw;
}

.hide-iconbar-btn {
  position: fixed !important;
  bottom: 15px;
  right: 8.5px;
}
.show-iconbar-btn {
  position: fixed !important;
  bottom: 15px;
  right: -70px;
  width: 100px;
  height: 45px;
  padding-left: 2px;
  border-radius: 22.5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: .1s;
  background-color: #434448;
}
.show-iconbar-btn:hover {
  transform: translateX(-20px);
  cursor: pointer;
  background-color: #202124;
  padding-left: 10px;
}

.hidden-icon-bar {
  width: 18px;
  transition: .15s ease-in-out;
}

.right-icon-btns-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  padding-top: 15px;
  width: 70px;
  transition: .15s ease-in-out;

}

.header-search-input-unfocused {
  border: none;
  background-color: transparent;
  width: 100%;
  margin: 0 15px;
  height: 30px;
  font-size: 18px;
  color: inherit;
}
.header-search-input-unfocused:focus {
  border: none;
  outline: none;
}
.header-search-input-unfocused::placeholder {
  color: inherit;
}

.header-search-div-unfocused {
  max-width: 700px;
  min-width: 400px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.29);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 3px 8px;
  border-radius: 10px;
  color: white;
}
.header-search-div-focused {
  max-width: 700px;
  min-width: 400px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 3px 8px;
  border-radius: 10px;
  color: rgb(38, 36, 36);
}

.font-grey {
  color: rgb(108, 108, 108);
}
.font-white {
  color: white;
}

.header-bar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-icons-section-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-right: 10px;
}

.logo-img {
  width: 27px;
  -webkit-filter: drop-shadow(.7px .7px .7px #666666);
  filter: drop-shadow(.7px .7px .7px #666666);
}

.profile-pic-div {
  background-color: purple;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.rounded-right > * {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.text {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.menu-label-card {
  width: 100%;
}
